@import "./color_schemes/dark"; /* Imports the base dark theme, instead of the light theme. */

$body-font-family: "Segoe UI"; /* Determines the font. */
$link-color: $red-300; /* Determines the colour of links. */
$btn-primary-color: $red-200; /* Determines the colour of buttons. */
