<head>
  <link rel="apple-touch-icon" sizes="180x180" href="/Assets/Favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/Assets/Favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/Assets/Favicons/favicon-16x16.png">
  <link rel="manifest" href="/Assets/Favicons/site.webmanifest">
  <link rel="mask-icon" href="/Assets/Favicons/safari-pinned-tab.svg" color="#ff0000">
  <link rel="shortcut icon" href="/Assets/Favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#ff0000">
  <meta name="msapplication-TileImage" content="/Assets/Favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="/Assets/Favicons/browserconfig.xml">
  <meta name="theme-color" content="#ff0000">
</head>
